canvas{
  position: fixed;
}

body {
  margin: 0;
  background-color: #bdc3c7; /*grey, yay no more fakin flashbang firefox*/
}

/* Style the cameradropdown */
.sidenav .cameradropdown {
  padding: 2px 8px 2px 0px;
  margin-left: 30px;
  border: 1px solid #111;
  background-color: #f1f1f1;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 16px;
  transition: all 0.3s ease;
}

.sidenav .cameradropdown:hover {
  background-color: #ddd;
  border: 1px solid #111;
}

.sidenav .cameradropdown option {
  padding: 5px;
  font-size: 16px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Lato", sans-serif;
}

.sidenav .header {
  color: antiquewhite;
  left: 0;
  font-size: 25px;
  margin-left: 30px;
}

.sidenav a {
  padding: 2px 8px 2px 32px; /*padding top right bottom left*/
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 42px;
  margin-left: 50px;
}

.sidenav .center-bottom {
  color: white;
  bottom: 0;
  left: 0px;
  font-size: 16px;
  margin-left: 10px;
}

.sidenav .center-bottom a {
  color: white;
  font-size: 16px;
  padding: 2px 8px 2px 32px;
}

.sidenav .center-bottom a:hover {
  color: red;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}